  .MuiOutlinedInput-notchedOutline {
    border-width: 2px !important;
    border-color: black !important;
  }
  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important;
  }
  #demo-multiple-checkbox-label, #demo-simple-select-label {
    color: black !important;
  }
  #selectCategories, #selectNameOrPrice {
    width: 350px;
  }
  @media only screen and (max-width: 1128px){ 
    #navigationContainer {
    margin-top: 50px;
    }
  }
  @media only screen and (max-width: 928px){ 
    #selectCategories, #selectNameOrPrice {
    width: 150px;
    }
    #navigationContainer {
    margin-top: 60px;
    }
  }
  @media only screen and (max-width: 412px){ 
    #navigationContainer {
    margin-top: 160px;
    }
  }