.btn {
    background-color: #83269b;
    width: 110px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.btnLink {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px;
}