.card {
    background-color: white;
    border-radius: 20px;
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.profileImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}